<ion-navbar *navbar>
  <ion-title>Adicionar aula</ion-title>
</ion-navbar>

<ion-content class="add-aula">

  <form>
    <ion-list>
      <ion-item>
        <ion-label>Aluno</ion-label>
        <ion-select [(ngModel)]="aula.alunoId" (change)="change(aula)">
          <ion-option *ngFor="#aluno of alunos;" value="{{aluno._id}}">
            {{aluno.nome}} - {{aluno.objetivo}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label>Dia da semana</ion-label>
        <ion-select [(ngModel)]="aula.dia" >
          <ion-option *ngFor="#dia of dias_semana" value="{{dia}}">
            {{dia}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Hora de início</ion-label>
        <ion-input type="text" placeholder="Ex: 13:00" [(ngModel)]="aula.hora_inicio" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Hora de fim</ion-label>
        <ion-input placeholder="Ex: 14:00" type="text" [(ngModel)]="aula.hora_fim" ></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Preço hora</ion-label>
        <ion-input placeholder="Ex: 50,00" type="text" [(ngModel)]="aula.preco_hora"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Preço aula</ion-label>
        <ion-input placeholder="Ex: 100,00" type="text" [(ngModel)]="aula.preco_aula"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col width-80 offset-10>
        <button (click)="add(aula)" full verdebtn>salvar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
