// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";

@import "../pages/page2/page2";

@import "../pages/page3/page3";
@import "../pages/page4/page4";

@import "../pages/add-aluno/add-aluno";

@import "../pages/add-aula/add-aula";

@import "../pages/add-group/add-group";
@import "../components/chart/chart";
@import "../pages/intro/intro";
@import "../pages/aluno-info/aluno-info";


.page1,.page2,.page3,.page-4,.add-aluno-page,.add-aula,.add-group,.aluno-info, .avaliacoes{
  background-color: #e6e6e6;
}

ion-card{
  margin: 10px 0 !important;
  width: 100% !important;
}

.black-text{
  color: #151515;
}

.gray-text{
  color: #777 !important;
}

.bold{
  font-weight: bold;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right;
}

.white-text{
  color: #fff !important;
}

.white-text * {
  color: #fff !important;
}

.green-text{
  color: #57b568 !important;
}

.red-text{
  color: #a00e1c !important;
}
