.page1 {
  ion-card, ion-card-content{
    float: left !important;
  }

  ion-card-content{
    width: 100%;
  }

  .spinner-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    text-align: center;;
  }
}
