
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>PersonalApp</ion-title>
  <ion-buttons end>
    <button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-content class="page2">

  <div padding>
    <ion-segment dark (change)="onSegmentChanged($event)">
      <ion-segment-button value="hoje" class="segment-activated">Hoje</ion-segment-button>
      <ion-segment-button value="semanal">Semanal</ion-segment-button>
    </ion-segment>

    <div *ngIf="view == 'hoje'" padding-top>

      <h2 class="gray-text">Foram Realizadas hoje?</h2>
      <div *ngFor="#grupo of grupos ">
        <div *ngIf="grupo.nome.length == 0">
          <ion-card *ngFor="#aula of grupo.horarios" class="todo-card">
            <div class="card-wrapper">
              <ion-card-content>
                <h2 class="bold no-text-overlow">{{grupo.alunos[0].nome}} - {{grupo.alunos[0].objetivo}}</h2>
                <p class="no-text-overlow">
                  {{aula.hora_inicio}} - {{aula.hora_fim}}
                </p>
                <div class="button-actions">
                  <button clear primary>Remarcar</button>
                  <button clear danger>Não</button>
                  <button clear verdebtn>Sim</button>
                </div>
              </ion-card-content>
            </div>
          </ion-card>
        </div>
        <div *ngIf="grupo.nome.length > 0">
          <ion-card *ngFor="#aula of grupo.horarios" class="todo-card">
            <div class="card-wrapper">
              <ion-card-content>
                <h2 class="bold no-text-overlow" *ngIf="grupo.alunos.length > 1">{{grupo.nome}} - {{grupo.alunos.length}} alunos</h2>
                <h2 class="bold no-text-overlow" *ngIf="grupo.alunos.length ==  1">{{grupo.nome}} - {{grupo.alunos.length}} aluno</h2>
                <p class="no-text-overlow">
                  {{aula.hora_inicio}} - {{aula.hora_fim}}
                </p>
                <div class="button-actions">
                  <button clear primary>Remarcar</button>
                  <button clear danger>Não</button>
                  <button clear verdebtn>Sim</button>
                </div>
              </ion-card-content>
            </div>
          </ion-card>
        </div>
      </div>
    </div>


    <div *ngIf="view == 'semanal'">
      <br />
      <div class="schedule">
        <div *ngFor="#dia of dias_semana" class="dia text-center">
          {{dia.title.substring(0,3)}}
          <div *ngFor="#horario of getAulas(dia.aulas)" class="hora">
            {{horario.title}}
            <br />
            <span *ngIf="horario.qtd == 1 && isInt(horario.qtd)">{{horario.qtd}} aluno</span>
            <span *ngIf="horario.qtd > 1 && isInt(horario.qtd)">{{horario.qtd}} alunos</span>
            <span *ngIf="!isInt(horario.qtd)">{{horario.qtd}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>




</ion-content>
